<section class="m-4">
  <div class="d-flex justify-content-between">
    <h1 class="txt-division-name"><%= division.name %></h1>
    <%= link_to division_path(division.id) do %>
      <%= image_tag("icons/arrow-right.svg", alt: "arrow icon") %>
    <% end %>
  </div>
  <div class="row">
    <% plants = division.plants.to_a %>
    <% if division.plants.present? == false %>
      <div class="txt-no-divisons">
        <h5 class="mt-5 mb-3">You don't have any plants in this room yet </h5>
        <%= image_tag("vaso-de-planta.png", alt: "plant icon", class:"mb-5") %>
      </div>
    <% elsif plants.size < 6 %>
      <% plants.fill({ photo_url: "no-plants.svg"}, plants.size...6) %>
    <% end %>
    <% completed_columns = plants.each_slice(2).to_a %>
    <% max_images = 6 %>
    <% count_images = 0 %>
    <% completed_columns.each_with_index do |column, column_index| %>
      <% order_classes = column_index.even? ? ["img-fixed-size-two", "img-fixed-size-one"] : ["img-fixed-size-one", "img-fixed-size-two"] %>
      <% if count_images < max_images %>
        <div class="col-4 p-1">
          <% column.each_with_index do |image, image_index| %>
            <% count_images += 1 %>
            <%= image_tag(image[:photo_url], alt: "plant image", class: "w-100 shadow-1-strong rounded mb-2 #{order_classes[image_index % 2]}") %>
          <% end %>
        </div>
      <% else %>
        <% break %>
      <% end %>
    <% end %>
  </div>
</section>
