<div class="fixed-bottom" data-controller="add-nav">
  <div class="nav-add d-none active" data-add-nav-target="content">
    <div>
      <%= link_to new_division_path, class: "link-text" do %>
        <%= image_tag("icons/add.svg", alt: "waterme logo") %>
        <p>Add a new division</p>
      <% end %>
    </div>
    <div>
      <%= link_to plants_path, class: "link-text" do %>
        <%= image_tag("icons/add.svg", alt: "waterme logo") %>
        <p>Add a new plant</p>
      <% end %>
    </div>
  </div>
  <div class="navburguer" id="navburger" data-controller="click">
    <%= link_to image_tag("icons/user.svg", alt: "user icon", id:"user" ), divisions_path %>
    <%= link_to image_tag("icons/search.svg", alt: "search icon", id:"search"), plants_path %>
    <div data-action="click->add-nav#revealContent">
      <%= image_tag("icons/add.svg", alt: "add icon", id:"menu") %>
    </div>
    <%= link_to image_tag("icons/bell.svg", alt: "bell icon", id: "bell") %>
    <%= link_to image_tag("icons/settings.svg", alt: "settings icon",id: "settings") %>
  </div>
</div>
