<div class="fixed-bottom" data-controller="add-nav">
  <div class="nav-add d-none active" data-add-nav-target="content">
    <div class="d-flex col">
      <%= link_to new_division_path do %>
        <%= image_tag("icons/add.svg", alt: "waterme logo") %>
        <a class="link-text">Add a new division</a>
      <% end %>
    </div>
    <div class="d-flex">
      <%= link_to new_plant_path do %>
        <%= image_tag("icons/add.svg", alt: "waterme logo") %>
        <a class="link-text">Add a new plant</a>
      <% end %>
    </div>
  </div>
  <div class="navburguer" id="navburger" data-controller="click">
    <%= link_to image_tag("icons/user.svg", alt: "user icon", id:"user" ), plants_path %>
    <%= link_to image_tag("icons/search.svg", alt: "search icon", id:"search"), home_path %>
    <div data-action="click->add-nav#revealContent">
      <%= image_tag("icons/add.svg", alt: "add icon", id:"menu") %>
    </div>
    <%= link_to image_tag("icons/bell.svg", alt: "bell icon", id: "bell") %>
    <%= link_to image_tag("icons/settings.svg", alt: "settings icon",id: "settings") %>
  </div>
</div>
