<div class="nav-add active">

  <div class="d-flex col ">
    <%= link_to new_division_path do %>
      <%= image_tag("icons/add.svg", alt: "waterme logo") %>
      <a class="link-text">Add a new division</a>
    <% end %>
  </div>

  <div class="d-flex">
    <%= link_to new_plant_path do %>
      <%= image_tag("icons/add.svg", alt: "waterme logo") %>
      <a class="link-text">Add a new plant</a>
    <% end %>
  </div>

</div>

<div class="navburguer">
  <%= link_to image_tag("icons/user.svg", alt: "waterme logo", class:"active"), plants_path %>
  <%= link_to image_tag("icons/search.svg", alt: "waterme logo"), home_path %>
  <%= link_to image_tag("icons/add.svg", alt: "waterme logo"), plants_path %>
  <%= link_to image_tag("icons/bell.svg", alt: "waterme logo") %>
  <%= link_to image_tag("icons/settings.svg", alt: "waterme logo") %>
</div>
