<div class="navburguer">
  <%= image_tag "icons/user.svg", alt: "waterme logo", class:"active" %>
  <%= image_tag "icons/search.svg", alt: "waterme logo" %>
  <%= image_tag "icons/add.svg", alt: "waterme logo" %>
  <%= image_tag "icons/bell.svg", alt: "waterme logo" %>
  <%= image_tag "icons/settings.svg", alt: "waterme logo" %>
</div>
