<div class="d-flex justify-content-between btn-onboard">
  <%= link_to image_tag("icons/arrow-circle-left.svg")%>
  <%= link_to "skip", home_path, class:"skip" %>
</div>
<div id="carousel" class="carousel slide bg-onboarding" data-bs-interval="false" style="height: 700px; top: -110px; padding-top:110px;">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner" style="height: 600px">
    <div class="carousel-item active">
      <%= image_tag("image-1-onboarding.svg", alt: "image onboarding", class:"img-onboarding")%>
      <div class="carousel-caption-txt d-md-block">
        <h5 class="tit">Organize your environment</h5>
        <p class="text">Organize your space according to the divisions in your home.</p>
      </div>
    </div>
    <div class="carousel-item">
      <%= image_tag("image-2-onboarding.svg", alt: "image onboarding", class:"img-onboarding")%>
      <div class="carousel-caption-txt d-md-block">
        <h5 class="tit">Add your </br>plants</h5>
      <p class="text">Add plants to your divisions and make a collection.</p>
    </div>
  </div>
  <div class="carousel-item">
    <%= image_tag("image-3-onboarding.svg", alt: "image onboarding", class:"img-onboarding")%>
    <div class="carousel-caption-txt d-md-block">
      <h5 class="tit">Learn to take care of your plants</h5>
      <p class="text">Learn how to care for and keep your plants healthy and beautiful.</p>
    </div>
  </div>
</div>
<div class="d-flex justify-content-between align-items-center">
  <button class="btn-sign-in" data-bs-target="#carousel" data-bs-slide="prev">Back</button>
  <button class="btn-next" data-bs-target="#carousel" data-bs-slide="next">Next</button>
</div>
<%# <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
  <span class="visually-hidden">Previous</span>
</button>
<button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
  <span class="carousel-control-next-icon" aria-hidden="true"></span>
  <span class="visually-hidden">Next</span>
</button> %>
</div>
