<div class="plant-image">
  <%= image_tag plant.photo_url, class:"plant-image"%>
</div>

  <%= link_to image_tag("icons/arrow-circle-left.svg", class:"show-page-icon-back"), plants_path %>


<div class="show-page-plant-container">

  <div class="add-plant">
    <%= link_to 'Add Plant +', new_plant_plant_division_path(plant), class:"btn-add-plant-card-details" %>
  </div>

  <div class="cards-explain-plant">

    <div class="plant-details">

      <h2><%= plant.name %></h2>
      <p><%= plant.scientific_name %></p>

      <div class="show-page-plants-mini-cards">
        <div class="plant-attributes-cards">
          <%= image_tag ("icons/humidity.svg"), class:"plant-attributes" %>
          <p><%= plant.water_frequency.frequency %></p>
          <p><%= plant.water_frequency.times_per_week %>x a week</p>
        </div>
        <div class="plant-attributes-cards">
          <%= image_tag ("icons/sun.svg"),  class:"plant-attributes"  %>
          <p><%= plant.light_level %></p>
        </div>
      </div>

      <p><%= plant.description %></p>
    </div>


    <div class="show-more", data-controller="show-more-btn">
      <div data-action="click->show-more-btn#showmore">
        <p data-show-more-btn-target="less">Show More</p>
      </div>

      <div class="plant-info d-none", data-show-more-btn-target="show">
        <h3>Watering recommendation:</h3>
        <p><%= plant.care_guide.watering %></p>
        <h3>Light recommendation:</h3>
        <p><%= plant.care_guide.sunlight %></p>
        <h3>Pruning recommendation:</h3>
        <p><%= plant.care_guide.pruning %></p>
      </div>
    </div>
  </div>
</div>
