<div class="plant-image">
  <%= image_tag plant_division.photo_url, class:"plant-image"%>
  <div class="plant-division-icons-group">

    <%= link_to image_tag("icons/arrow-bg.svg", class:"plant-division-icon-back"), division_path(division) %>

    <%= link_to image_tag("icons/trash-bg.svg", class:"plant-division-icon-trash"), plant_division_path(@plant_division.id), data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'} %>
    <%= button_to "",plant_division_path(@plant_division.id), class:"btn-trash", method: :delete, form_class: 'delete-alertbox'%>


  </div>
</div>

<div class="show-page-plant-container">
  <div class="cards-explain-plant">
    <div class="plant-details">
      <h2><%= plant_division.name %></h2>
      <p><%= plant_division.scientific_name %></p>
      <div class="show-page-plants-mini-cards">
        <div class="plant-attributes-cards">
          <%= image_tag ("icons/humidity.svg"), class:"plant-attributes" %>
          <p><%= plant_division.water_frequency.frequency %></p>
          <p><%= plant_division.water_frequency.weekdays.count %>x a week</p>
        </div>
        <div class="plant-attributes-cards">
          <%= image_tag ("icons/sun.svg"),  class:"plant-attributes"  %>
          <p><%= plant_division.light_level %></p>
        </div>
      </div>
      <p><%= plant_division.description %></p>
    </div>
    <div class="show-more", data-controller="show-more-btn">
      <div data-action="click->show-more-btn#showmore">
        <p data-show-more-btn-target="less">Show More</p>
      </div>
      <div class="plant-info d-none", data-show-more-btn-target="show">
        <h3>Watering recommendation:</h3>
        <p><%= plant_division.care_guide.watering %></p>
        <h3>Light recommendation:</h3>
        <p><%= plant_division.care_guide.sunlight %></p>
        <h3>Pruning recommendation:</h3>
        <p><%= plant_division.care_guide.pruning %></p>
      </div>
    </div>
  </div>
</div>
