<div class="show-page-plant">

  <div class="plant-image">
    <%= image_tag plant.photo_url, style: "width: 300px"%>
  </div>

  <div class="cards-explain-plant">

    <div>

      <p><%= plant.watering_freq %></p>

    </div>

    <div>

      <p><%= plant.light_level %></p>

    </div>

    <div>

      <p>Easy/Medium/Difficult to maintain?</p>

    </div>

  </div>

  <div class="plant-info">

    <h2>Plant Name:</h2>
    <p><%= plant.name %></p>
    <h2>Plant description:</h2>
    <p><%= plant.description %></p>
    <h2>Watering recommendation:</h2>
    <p><%= plant.care_guide.watering %></p>
    <h2>Light recommendation:</h2>
    <p><%= plant.care_guide.sunlight %></p>
    <h2>Pruning recommendation:</h2>
    <p><%= plant.care_guide.pruning %></p>

  </div>

  <div class="btn-add-plant-card-search">
  <%= link_to 'Add Plant!', new_plant_plant_division_path(plant) %>
  </div>

</div>
