<%= image_tag("leaves.svg", class:"image-leaves") %>
<div class="sign-up-in-container">
  <%= link_to image_tag("icons/arrow-circle-left.svg", class:"icon-back"), user_session_path %>

  <h2>Forgot your password?</h2>

  <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs form-boxes">
      <%= f.input :email,
                  placeholder: "user@gmail.com",
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "email", class:"input-box" } %>
    </div>

    <div class="form-actions btn-large">
      <%= f.button :submit, "Reset Password", class:"btn-text" %>
    </div>
  <% end %>

</div>
