<h1><%= current_user.name %>'s Dashboard</h1>

<form action="">

  <input type="text">
  <input type="submit" value="Search!">

</form>

<div>

  <% @plants.each do |plant| %>

    <%= image_tag plant.photo_url, style: "width: 300px"%>
    <h2>Plant Name:</h2>
    <p><%= plant.name %></p>
    <h2>Plant description:</h2>
    <p><%= plant.description %></p>
    <h2>Watering recommendation:</h2>
    <p><%= plant.watering %></p>
    <h2>Light recommendation:</h2>
    <p><%= plant.light_level %></p>

  <% end %>


</div>

<%=  %>
