<%# Search a plant by a keyword in our DB or photo api %>
<div class="form-search-results">
  <h2>Browse Plants</h2>
  <p class="p-subtitle">Select your plant from our list</p>
  <div class="form-search-plants">
    <%= form_with(url: plants_path, method: :get, class: "", multipart: true) do |form| %>
      <%= form.text_field :query,
        value: params[:query],
        class: "form-control",
        placeholder: "Search" %>
      <%#= file_field_tag :photo, class: "form-control" %>
      <%# <i class="fa-solid fa-camera"></i> %>
      <%= button_tag type: 'submit', class: "btn btn-search-send" do %>
        <i class="fa-solid fa-magnifying-glass" aria-hidden="true"></i>
      <% end %>
    <% end %>

    <%= form_with(url: plants_path, method: :post, class: "ff", multipart: true) do |form| %>
      <%= form.file_field :photo,
        value: params[:photo],
        class: "form-control" %>
      <%= button_tag type: 'submit', class: "btn btn-search-send" do %>
        <i class="fa-solid fa-arrow-up-from-bracket"></i>
      <% end %>
    <% end %>

  </div>

  <div class="form-results-plants">
    <%= render "components/card_plant_search", plants: @plants %>
  </div>
</div>
