<%= image_tag("leaves.svg", class:"image-leaves") %>
<div class="new-plant-division">
  <%= link_to image_tag("icons/arrow-circle-left.svg"), plants_path %>
  <% if @plant %>
  <div class="new-plant-division-top-details">
    <h2>Select one of yours divisions</h2>
    <p class="p-subtitle">Add the plant to one of yours divisions</p>
  </div>
  <%= simple_form_for [@plant, @plant_division] do |f| %>
  <%= f.association :division, as: :radio_buttons,
            collection_wrapper_tag: 'div',
            collection_wrapper_class: 'category-wrapper',
            item_wrapper_class: 'category-item mb-3 lc',
            input_html: {class: 'category-selector' },
            collection: Division.all%>

  <%= simple_fields_for :water do |o| %>
    <%= o.input :last_watered_day, collection: Weekday.all, as: :radio_buttons, label_method: ->(weekday) { weekday.day[0..2] }, value_method: :day, include_blank: false,
    collection_wrapper_tag: 'div',
            collection_wrapper_class: 'wrap-days',
            item_wrapper_class: 'category-item days mb-3 lc',
            input_html: {class: 'category-selector' }
    %>
  <% end %>

  <div class="d-flex justify-content-center mb-5">
    <%= f.button :submit , class: "btn btn-create-plant-division"%>
  </div>
  <% end %>

  <% else %>
  <div class="new-plant-division-top-details">
    <h1>Pick one Plant</h1>
    <h3 class="fs-6 text-muted fw-lighter">Add the plant to one of yours divisions</h3>
  </div>
<div data-controller='plantphotoform'>
<%= simple_form_for [@division, @plant_division] do |f| %>


  <%= f.association :plant, as: :radio_buttons,
            collection_wrapper_tag: 'div',
            collection_wrapper_class: 'category-wrapper d-flex flex-column ',
            item_wrapper_class: 'category-item mb-3 lc',
            input_html: {class: 'category-selector' },
            collection: Plant.all.first(5),
            label:"Pick a plant"%>

<div class="d-flex justify-content-center mb-5">
<%= f.button :submit, "Add the plant", class: "btn btn-sign-in"%>
</div>
</div>
<% end %>

<% end%>
</div>
