<!DOCTYPE html>
<html>
  <head>
    <title>WaterMe</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Rubik:wght@500;600;700&display=swap" rel="stylesheet">
  </head>
  <body>
    <% if controller_name == "pages" && action_name == "landing" %>
      <section class="'no-padding-all'">
      <% else %>
        <section class="padding-all">
        <% end %>
        <%= yield %>
        <% if action_name == 'home' || controller_name == 'plants' || controller_name == 'plant_divisions' || controller_name == 'divisions' && !['sessions', 'registrations', 'passwords'].include?(controller_name) %>
          <%= render "components/navburguer", status: :unprocessable_entity %>
        <% end %>
      </section>
    </body>
  </html>
